name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags: '*'

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # See <https://julialang-s3.julialang.org/bin/versions.json> for available Julia versions
        include:
          - arch: "x64"
            os: "ubuntu-latest"
            version: "~1.12.0-0"
            test-opencl: true
          - arch: "x64"
            os: "ubuntu-latest"
            version: "1.11"
            test-opencl: true
          - arch: "arm64"
            os: "ubuntu-24.04-arm"
            version: "1.11"
            test-opencl: true
          - arch: "x64"
            os: "windows-latest"
            version: "1.11"
            test-opencl: false
          - arch: "x64"
            os: "macOS-latest"
            version: "1.11"
            test-opencl: false
          - arch: "arm64"
            os: "macOS-latest"
            version: "1.11"
            test-opencl: false
          - arch: "x86"
            os: "ubuntu-latest"
            version: "1.11"
            test-opencl: false
          - arch: "x64"
            os: "ubuntu-latest"
            version: "1.10"
            test-opencl: true
          - arch: "x64"
            os: "ubuntu-latest"
            version: "1.9"
            test-opencl: false
          - arch: "x64"
            os: "ubuntu-latest"
            version: "1.8"
            test-opencl: false
          - arch: "x64"
            os: "ubuntu-latest"
            version: "1.7"
            test-opencl: false
          - arch: "x64"
            os: "ubuntu-latest"
            version: "1.6"
            test-opencl: false
          # - arch: "x64"
          #   os: "ubuntu-latest"
          #   version: "nightly"
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - name: Remove OpenCL on unsupported platforms
        run: |
          sed -i '/^OpenCL = /d' test/Project.toml
          sed -i '/^pocl_jll = /d' test/Project.toml
        if: ${{ ! matrix.test-opencl && matrix.os != 'macOS-latest' }}
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          check_bounds: auto
        env:
          TEST_OPENCL: ${{ matrix.test-opencl }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: 82aae245-ad5c-41ac-9e30-b64617ce25b0
        with:
          file: lcov.info
